@use 'colors_gradients_shadows';
@mixin active_button_transform($property) {
    -webkit-transform: $property;
            transform: $property;
}

* {
    box-sizing: border-box;
  }
  *::before, *::after {
    box-sizing: border-box;
  }

body {
    font-family: KentuckyFriedChickenFont, cursive;
    font-size:  16px;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: colors_gradients_shadows.$tumbling_background;
    background: colors_gradients_shadows.$tumbling_background_gradient;  
}

h1 {
    font-size: 3.2rem;
}

/*! Trying to put some space between the numbered markers of ordered list and the ordered list items themselves. Figured it would make things easier to read  */

li {
    margin: 0.5rem;
    font-size: 1.75rem;
}

li::before {
    content: "";
    width: 1.5rem;
    display: inline-block;
}

ol.listy2 {
    margin: 2.5rem;
}

select {
    height: 2.75rem;
    min-width: 4.75rem;
    margin: 0 1rem 0 0;
    padding: 0 0 0 0.5rem;
    background: colors_gradients_shadows.$selective_background_color;
    border: /*solid 0.15rem rgb(154, 8, 82)*/ none;
    font-size: 1.5rem;
    vertical-align: middle;
    /* Apparently, the "appearance" property makes the arrow doodad disapear. */
    /*-moz-appearance: none;
	-webkit-appearance: none;
    appearance: none;*/
    font-family: inherit;
    outline: none;
}

select#difficulty {
    padding: 0 0 0 1rem;
}

select:hover, select:focus {
    outline: solid 0.2rem colors_gradients_shadows.$selective_outline_color;
}

select#dix {
    padding: 0 0.313rem 0 0.313rem;
}

/*select::before {
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

select::after {
  font-family: "Helvetica";
  content: "▼";
  height: 1em;
  font-size: 1.5rem;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
  position: absolute;
  display: inline-block;
}*/

option {
    margin: 0;
    background: colors_gradients_shadows.$selective_background_color;
    }


button {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: inherit;
    border: 0;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    outline: none;
    background: transparent;
    margin: 1.5rem;
    text-align: center;
    cursor: pointer;
}

button.rolly {
    background: colors_gradients_shadows.$you_gotta_roll_me;
    border-radius: 100%;
    border: none /*solid 2px rgb(187, 21, 10);*/;
    padding: 2.5rem;
    box-shadow: colors_gradients_shadows.$button_shadow;
}

  
button.rolly:hover, button.rolly:focus {
    /*box-shadow: 0 0 0 2px rgb(136, 136, 136), 0 0.9rem 0 0 rgb(110, 111, 112);*/
    /*background: rgb(220, 56, 46);*/
    /*
        Possible gradient #1
    background: rgb(187,21,10);
    background: radial-gradient(circle, rgba(187,21,10,1) 33%, rgba(173,173,172,1) 89%);*/
    background: colors_gradients_shadows.$you_gotta_roll_me;
    background: colors_gradients_shadows.$button_hover_focus_gradient; 
    box-shadow: colors_gradients_shadows.$button_shadow_hover_focus;
    /*border: none;*/
    color: colors_gradients_shadows.$button_hover_focus_font_color;
  }

button.rolly:active {
    background: colors_gradients_shadows.$keep_on_rolling;
    box-shadow: colors_gradients_shadows.$button_shadow_active;
    @include active_button_transform(translate(0em, 0.75em));
            /*transform: translate(0em, 0.75em);*/
  }






